.section-titles {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: red;
    text-shadow: 2px 2px 5px black;
    width: 25%;
    display: flex;
    justify-content: center;

}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.nav-links {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: red;
}


.links-container {
    display: flex;
    width: 38%;
    justify-content: space-evenly;
}

.name {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    text-shadow: 2px 2px 5px white;
}

#projects {
    display: flex;
    align-items: center;
}

#about-me {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portfolio-picture {
    height: 350px;
    width: 350px;
    object-fit: contain;
}

.profile-image-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 75%;
    margin-left: 25%;
}

.section-contacts {
    display: flex;
    justify-content: space-around;
    width: 75%;
    text-align: center;
    border-left: solid 2px black;
    padding-left: 25px;
}

#contact-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.all-projects {
    width: 75%;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-left: solid 2px black;
    padding-left: 25px;
}

.all-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.section-content {
    width: 75%;
    text-align: center;
    border-left: solid 2px black;
    padding-left: 25px;
}


h2 {
    color: red;
    text-shadow: 2px 2px 5px black;
    text-decoration: underline;
    text-decoration-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h3 {
    color: red;
    text-shadow: 2px 2px 5px black;
    text-decoration: underline;
    text-decoration-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}


body {
    background-color: gray;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
}

.contacts {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-shadow: 2px 2px 3px red;
}

.main-picture {
    height: 350px;
    width: 350px;
    border-radius: 25%;
    display: flex;
    flex-wrap: wrap;
}

.main-project {
    text-align: center;
}

.small-pictures {
    height: 250px;
    width: 250px;
    border-radius: 25%;
    display: flex;
    flex-wrap: wrap;
}

.small-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
    margin-top: 25px;
    align-items: center;
}