.section-titles {
    /* font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: red;
    background-color: black;
    text-indent: 30px;
    text-shadow: 2px 2px 5px gray;
    margin-right: 68.5%; */
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;

}

.name-container {


}

/* .project-title {
    width: 25%;
    display: flex;
    justify-content: flex-end;
} */

.links-container {
    display: flex;
    width: 38%;
    justify-content: space-evenly;
}

.name {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    text-shadow: 2px 2px 5px gray;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-me {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-titles {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    border-right: solid 2px black;


}

.all-projects {
    display: flex;
    width: 75%;
    text-align: center;
}

.all-content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100vh;
}

.section-content {
    width: 75%;
    text-align: center;
    /* margin: auto; */
    /* display: flex;
    justify-content: ; */
}

.project-content {
    border: solid 2px black;
    width: 200px;
    height: 200px;
}


h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    margin-left: 25%;
    color: white;
    background-color: black;
}