.section-titles {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: red;
    text-shadow: 2px 2px 5px black;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.nav-links {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: red;
}

.name-container {

}

.links-container {
    display: flex;
    width: 38%;
    justify-content: space-evenly;
}

.name {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    text-shadow: 2px 2px 5px gray;
}

#projects {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about-me {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portfolio-picture {
    height: 350px;
    width: 350px;
    object-fit: contain;
}

.profile-image-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

#contact-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-titles {
    width: 25%;
    display: flex;
    justify-content: center;
}

.all-projects {
    display: flex;
    width: 75%;
    text-align: center;
}

.all-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 50vh;
}

.section-content {
    width: 75%;
    text-align: center;
    border-left: solid 2px black;
    padding-left: 25px;
}

.project-content {
    border: solid 2px black;
    width: 200px;
    height: 200px;
}

body {
    background-color: gray;
}

p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
}